[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group Administrators
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
	push = +force group Administrators
	label-Code-Review = -2..+2 group Platforms Team
	label-Verified = -1..+1 group Administrators
